:root{
    --max-length: 800px;    
    --header-height:  calc(var(--max-length)/10);
    --grid-cols: 1;
    --grid-rows: 1;
    --margin_default: 5px;
    --font_largest: 30px;
    --font_color1:  rgba(255, 255, 255, calc(var(--gradient-alpha)/1.25));
    --font_color2:  rgba(0, 0, 0, calc(var(--gradient-alpha)/1.25));
    --gradient-color1:  rgba(170, 3, 170, var(--gradient-alpha));
    --gradient-color2:  rgba(42, 42, 207, var(--gradient-alpha));
    --gradient-alpha: 0.999;
    --button-border-color: rgba(0, 0, 0,  calc(var(--gradient-alpha)/1.25));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, h2,p {
    font-family: 'Poppins';
    color: white
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size:var(--header-height) !important;
    font-weight: 900;
    grid-area: h;
    background: linear-gradient(45deg,var(--gradient-color1), var(--gradient-color2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    font-weight: 900;
}
html{
     background-image: url(./adventure-astronomy-constellation-dawn-372101.jpg);
}
body{
    display: grid;
    width:100%;
    height:100%;
    /* grid-template-columns: 1fr var(--max-length) 1fr;
    grid-template-rows: 80px 1fr; */
    grid-template: 
                    "h h h" var(--header-height)
                    "l c r" 1fr
                    "b b b" var(--header-height)
                    / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
button{
    margin: var(--margin_default);
    font-size: var(--font_largest);
    padding: calc(var(--margin_default)*1.5);
    /* This part is used to create the button effect */
    color: var(--font_color2);
    border: 1px solid var(--gradient-color2);
    background: linear-gradient(to right, var(--gradient-color2) 50%, var(--gradient-color1) 50%);
    background-size: 200% 100%;
    background-position: right top;
    transition: all 1s ease;
}
button:hover{
    cursor: pointer;
    background-position: left top;
    color: var(--font_color1);
    border: 1px solid var(--gradient-color1);

}
.activated{
    background-color: black;
}
.cells-border{
    border: 5px solid white;
    border-radius: calc(var(--margin_default)*2);
}
.cells {
    grid-area: c;
    /* grid-row: 1;
    grid-column: 2; */
    border: 2.5px solid black;
    background-color: rgba(141, 9, 90, 0.342);
    height: var(--max-length);
    max-height: var(--max-length);
    width: var(--max-length);
    max-width: var(--max-length);
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), minmax(0, 1fr));
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}
.cells :nth-child(n+1){
    min-width: 0;
}
.cell-border{
    border: 1px solid rgba(221, 221, 221, 0.507);
    min-width: 0;
}
.cell-borderless{
    border: none;
}
.buttons{
    grid-area: b;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: auto;
    justify-content: center;
}
.sides{
    position: relative;
    max-height: 100%;
    width: 80%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
}
.left-side{
    grid-area: l;
}
    .side-item {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: calc(var(--font_largest)/1.5);
        margin: calc(var(--margin_default)*2) 0;
    }
    .side-item :nth-child(n+2) {
        text-decoration: underline;
    }
    .titles{
        font-size: 400%;
        font-family: 'Courier New', Courier, monospace;

    }
    .side-item p {
        margin: 0 0 0 var(--margin_default);
    }

.right-side{
    grid-area: r;
    position: relative;
    bottom: 65px;
}
.right-side :nth-child(n+1){
    color: var(--font_color2);
}

#canvas{
    background-color: yellow;
    visibility: hidden;
}